@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blueink: darkblue;
  --wireframe: 2px solid var(--blueink);
  --component: 2px solid limegreen;
  --debugging: 2px solid darkred;
  --border-rd: 8px;
  --google-ft: "Poppins", sans-serif;
}

.app {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  font-family: var(--google-ft);
  border: var(--wireframe);
}

/*
    Main Application Container

    Contains application components
        1. Header - Application Stage Visual Loader
        2. Section - Postcard Component
        3. Article - Card Creation Module
        4. Navigation - Navigation Button Container

*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  border: var(--wireframe);
}
main header {
  width: 100%;
  max-width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--wireframe);
  border-radius: var(--border-rd);
}
main section {
  position: relative;
  height: 225px;
  width: 500px;
  padding: 1rem;
  margin-top: 0.5rem;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
main nav {
  width: 400px;
  height: 50px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: var(--wireframe);
  border-radius: var(--border-rd);
}
main article {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* mozilla & edge browser support */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 1s ease-in-out;
  transform: perspective(770px) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  border: var(--wireframe);
  border-radius: 8px;
}

/*
    Header Component : Application Stage Visual Loader

    Provides the user with a visual pathway for the application
    creation process.
        1. List - Un-ordered List Element
        2. Items - Un-ordered List Items
        3. Span - Animated Loading / Process Line
*/
header .list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  text-align: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

header .items {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  border: var(--wireframe);
  border-radius: 50%;
}

/*
    Postcard Component : Card Creation Module

        Contains the card component with the creation module 
        forms & overlays.
        1. Face Front : Placement for Creation Module Forms
        2. Face Back : Placement for Memo & Recipient Data
*/
section .face.front {
  transform-style: preserve-3d;
  background-position: center;
  background-size: cover;
}

section .face.back {
  background: #FFF;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem;
  transform: perspective(770px) rotateY(180deg);
  transform-style: preserve-3d;
}

/* .postcard:hover .face.front {
transform: perspective(500px) rotateY(180deg);
}
.postcard:hover .face.back {
transform: perspective(500px) rotateY(360deg);
} */
/*
    Form Module : Memo - [ Output Data ]

        Sender Message : Textarea data output element for preview.

        Recipient List : List module output element for recipient data.

*/
.postcard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: var(--wireframe);
  border-radius: var(--border-rd);
}

.sender-message {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25rem;
  border-radius: var(--border-rd);
}

.recipient-list {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0.25rem;
  border-left: var(--wireframe);
}
.recipient-list li {
  padding-left: 0.5rem;
  color: #000;
  font-size: 0.85rem;
  text-decoration: underline;
  border: var(--wireframe);
}
.recipient-list li:nth-child(4) {
  margin-bottom: 0.5rem;
}

/*
    Color Selection Module : Colors List

        Replaces an action button on the navigation button container 
        with five ( 5 ) color choices for the postcard.
*/
.colors-list {
  height: 50px;
  width: 400px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background: #FFF;
  /* dev border */
  border: var(--wireframe);
  border-radius: var(--border-rd);
}
.colors-list .colors {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: var(--wireframe);
}

/*
    Form Modules

    Both form modules will be encased inside a postcard component.

    If in creative mode ( user interaction ), the form will be attached
    on the 'front' of the postcard face component.

    Contains
        1. Global Form Styles
        2. Specific Form Styles 
            a. Title Form : User Title Selection
            b. Memo Form : User Notes + Recipient Data

*/
form {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  /* developer border */
  border: var(--wireframe);
}
form label {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  color: whitesmoke;
}

/* forms */
#title-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  border: var(--wireframe);
}

#title-form input {
  height: 45px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border: var(--wireframe);
  border-radius: var(--border-rd);
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: var(--blueink);
  font-weight: bold;
}

#title-form button {
  margin-top: 1rem;
  width: 100%;
  max-width: 140px;
  border: var(--wireframe);
  border-radius: var(--border-rd);
}

/* form [ control ] containers */
.control {
  height: 100%;
  /* provide both control containers with display property flex */
  display: flex;
  /* developer border */
  border: var(--component);
}

.control:nth-child(1) {
  /* position textarea into the center of the container */
  justify-content: center;
  align-items: center;
  /* pre-defined width [ 60% of card ] */
  width: 60%;
}

.control:nth-child(2) {
  /* position the input elements into a column in the center of the container */
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* pre-defined width [ 40% of card ] */
  width: 40%;
}

/* form control [ input ] elements */
.control input {
  padding: 0.05rem;
  padding-left: 0.5rem;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 0.25rem;
  background: transparent;
  border: var(--wireframe);
}

.control input:last-child {
  margin-bottom: 0.5rem;
}

/* form control input [ placeholder ] elements */
::placeholder {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

textarea {
  /* height: 100%; */
  width: 100%;
  height: 100%;
  font-size: 1.22rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--wireframe);
}

/*
    Navigation Component Elements

        Contains all application event buttons.
        Provides global styles & attributes to all navigation buttons
        and an ease-in transition when each button state changes.
*/
button {
  padding: 0.25rem;
  height: 30px;
  width: 140px;
  background: #FFF;
  color: var(--blueink);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 200ms all ease-in-out;
  border: var(--wireframe);
  border-radius: var(--border-rd);
}

button:hover {
  transition: 200ms all ease-in;
  background: var(--blueink);
  color: #FFF;
}

/*
    This button [ Finalize-Button ] will be appended to the back of
    the postcard component module.
*/
.back button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
    File Upload Module

    Contains an input element [ upload-image ] and a button
    element [ image-button ]

*/
#upload-image {
  display: none;
}

/* remove the input file from view */
#image-upload {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.25rem;
  border: var(--wireframe);
}

input[type=file] {
  background: red;
}

::file-selector-button {
  background: red;
}

.helper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--blueink);
  color: #000;
  font-size: 1rem;
  border: var(--component);
  border-radius: var(--border-rd);
}

/* title placement data variables */
.placement-tl {
  /* position placement [ top-left ] */
  position: absolute;
  top: 10px;
  left: 10px;
  /* developer border */
  border: var(--component);
}

.placement-tr {
  /* position placement [ top-right ] */
  position: absolute;
  top: 10px;
  right: 10px;
  /* developer border */
  border: var(--component);
}

.placement-bl {
  /* position placement [ bottom-left ] */
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* developer border */
  border: var(--component);
}

.placement-br {
  /* position placement [ bottom-right ] */
  position: absolute;
  bottom: 10px;
  right: 10px;
  /* developer border */
  border: var(--component);
}

@media screen and (orientation: portrait) {
  .orientation {
    display: block;
    border: var(--wireframe);
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    color: #000;
    font-weight: normal;
  }
  .orientation .title {
    font-size: 1rem;
    text-decoration: underline;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  .postcard {
    display: none;
  }

  .buttons {
    display: none;
  }

  /* remove the [ nofile ] helper element */
}
/* 
    Once the user is informed to use the landscape orientation on mobile,
    apply the following styles for the postcard preview element.

*/
@media screen and (orientation: landscape) {
  /* remove the [ orientation ] helper from view */
  .orientation {
    display: none;
  }

  /* module [ overlay ] */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, auto);
    gap: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: var(--rad-curved);
    display: none;
  }

  .panels {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    /* developer border */
    border: var(--wireframe);
    transition: 200ms all ease-in-out;
  }

  .panels:hover {
    background: red;
  }
}

/*# sourceMappingURL=index.css.map */
